/* Font e hero image */
body {
    font-family: 'Arial', sans-serif;
}

.hero {
    background: url('img/presepe_valeta.jpg') center/cover no-repeat;
}

.titolo {
    font-family: 'Arial', sans-serif;   /* Font pulito e leggibile */
    font-size: 2.5rem;                  /* Grandezza importante, adattabile con media queries */
    font-weight: 700;                   /* Grassetto moderno */
    color: #ffffff;                     /* Rosso vivo, lo stesso della navbar */
    text-align: center;                 /* Centra il testo */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Leggero effetto ombra */
    letter-spacing: 1px;                /* Spaziatura moderna tra lettere */
    line-height: 1.2;                   /* Migliora leggibilità su più righe */
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3); /* overlay leggero */
    z-index: 1;
}

/* Evita scroll orizzontale */
body, html {
    overflow-x: hidden;
        scroll-behavior: smooth;

}

.hero-coming {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 70vh;          /* prima era troppo */
    padding: 2rem 3rem;
}

.hero-img {
    width: 45%;
    max-width: 480px;
}

@media (max-width: 768px) {
    .hero-coming {
        flex-direction: column;
        min-height: auto;
        text-align: center;
    }

    .hero-img,
    .in_arrivo {
        width: 100%;
    }

    .in_arrivo {
        white-space: normal;   /* torna a capo su telefono */
         font-family: 'Mountains of Christmas', cursive;
    font-size: 2.8rem;
     min-height: 50vh;  
    color: #ad0101;
    text-align: center;
    text-shadow: 0 4px 12px rgba(246, 0, 0, 0.6);
        font-size: 1.8rem;
    }
}

.in_arrivo {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 2.8rem;
    color: #ad0101;
    text-align: center;
    text-shadow: 0 4px 12px rgba(246, 0, 0, 0.6);
}



